In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
# Read the data
data = 'data.csv'
df = pd.read_csv(data)

# First five rows
display(df.head())

#Description
df.describe()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307201,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090196,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [3]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

# Check for missing values
print(df.isnull().sum(), "\n")

# Explore categorical variables
print(df.dtypes)

X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
X8    0
Y1    0
Y2    0
dtype: int64

X1    float64
X2    float64
X3    float64
X4    float64
X5    float64
X6      int64
X7    float64
X8      int64
Y1    float64
Y2    float64
dtype: object

In [4]:
# Split the data into independent variables (X) and dependent variables (Y1 and Y2)
X = df.drop(['Y1', 'Y2'], axis=1)
Y1 = df['Y1']
Y2 = df['Y2']

# Split the data into training, validation, and test sets
X_train, X_temp, Y1_train, Y1_temp = train_test_split(X, Y1, test_size=0.4, random_state=42)
X_val, X_test, Y1_val, Y1_test = train_test_split(X_temp, Y1_temp, test_size=0.5, random_state=42)

In [5]:
# Try different regression models
models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(),
    'Lasso Regression': Lasso(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor()
}

In [6]:
best_model = None
best_rmse = float('inf')

for model_name, model in models.items():
    model.fit(X_train, Y1_train)
    Y1_val_pred = model.predict(X_val)
    rmse = sqrt(mean_squared_error(Y1_val, Y1_val_pred))
    
    print(f"{model_name} RMSE: {rmse}")
    
    if rmse < best_rmse:
        best_rmse = rmse
        best_model = model_name

print(f"\nBest Model: {best_model} with RMSE: {best_rmse}")

Linear Regression RMSE: 3.188472770085113
Ridge Regression RMSE: 3.296544157328567
Lasso Regression RMSE: 4.888970619395164
Decision Tree RMSE: 0.6521044852937755
Random Forest RMSE: 0.5380238211063892

Best Model: Random Forest with RMSE: 0.5380238211063892